body {
  background-color: rgb(200,200,200);
  margin-top: 60px;
  margin-bottom: 20px;
}
.body {
  margin-left: 5%;
  margin-right: 5%;
}
.title {
  /* background-color: rgb(200,100,255); */
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 1% 2% 1% 2%;
  text-align: center;
  vertical-align: middle;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: black;
}

.navbar {
  background-color: rgb(200,0,0);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(100,0,0);
}
.nav li {
  background-color: rgb(100,0,0);
  margin: 2px 4px 2px 4px;
  border-radius: 10px;
}

.cat {
  margin-top: 1%;
  background-color: rgb(100,100,255);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0,0,150);
  padding-left: 2%;
  padding-right: 2%;
}
ul {
  list-style: none;
}
#contact {
  /* width: 35%; */

}
#experience {
  /* width: 40%; */
}

.blurb {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}
