body {
  background-color: rgb(200,200,200);
  margin-top: 60px;
  margin-bottom: 20px;
}
.body {
  margin-left: 5%;
  margin-right: 5%;
}
.title {
  /* background-color: rgb(200,100,255); */
  border-bottom-color: grey;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding: 1% 2% 1% 2%;
  /* text-align: center;
  vertical-align: middle; */
}
.title h1 {
  border-right-style: solid;
  border-right-color: grey;
  border-right-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: 2px;
  padding: 2%;
  border-bottom-right-radius: 10px;
}
.title h4 {
  border-left-style: solid;
  border-left-color: grey;
  border-left-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: 2px;
  padding: 2%;
  border-bottom-left-radius: 10px;
}
a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: black;
}

.navbar {
  background-color: rgb(200,0,0);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(100,0,0);
}
.nav li {
  background-color: rgb(100,0,0);
  margin: 2px 4px 2px 4px;
  border-radius: 10px;
}

.cat {
  margin-top: 1%;
  background-color: rgb(100,100,255);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0,0,150);
  padding-left: 2%;
  padding-right: 2%;
}
ul {
  list-style: none;
}
#contact {
  /* width: 35%; */
}
#contact a {
  color: black;
}
#contact .blurb {
  font-size: 1vw;
}
#experience {
  /* width: 40%; */
}
#portfolio {
  background-color: rgb(130,130,130);
  padding: 1%;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
}
#portfolio a {
  color: black;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}
#portfolio a:hover {
  font-size: 130%;
}
.portfolio {
  margin: 5% 2% 5% 2%;
}
.blurb {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}
