body {
  background-color: grey;
  margin-top: 60px;
}
.container {

}
nav {
  background-color: black;
}
.cat {
  margin-top: 1%;
  background-color: rgb(100,100,255);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0,0,150);
}
